# Merging Insta cart Data

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os
import random

## I am forced to use only the first million rows of the original dataset due to Jupyter notebook giving memory error

In [3]:
#Only selecting 1000000 rows to counter the memory error
df_ords_prior= pd.read_csv(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.1_original Data\order_products__prior.csv',index_col = False,nrows = 1000000)

In [4]:
df_ords_prior.shape

(1000000, 4)

In [5]:
##Only selecting 1000000 rows to counter the memory error
df_ords = pd.read_csv(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data\orders_wrangled.csv',index_col = False,nrows = 1000000)

In [8]:
df_ords.shape

(1000000, 7)

## merging 'order_products__prior' with 'orders_wrangled'

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,Order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,42,94891,4,4,5,13,15.0,22199,1,0,both
1,42,94891,4,4,5,13,15.0,25146,2,0,both
2,70,23391,7,17,0,10,28.0,13198,1,1,both
3,70,23391,7,17,0,10,28.0,42803,2,1,both
4,70,23391,7,17,0,10,28.0,8277,3,1,both
...,...,...,...,...,...,...,...,...,...,...,...
290879,999982,27561,60078,18,1,14,13.0,13639,9,0,both
290880,999982,27561,60078,18,1,14,13.0,26073,10,0,both
290881,999982,27561,60078,18,1,14,13.0,37096,11,0,both
290882,999982,27561,60078,18,1,14,13.0,4562,12,0,both
290883,999982,27561,60078,18,1,14,13.0,23734,13,1,both

In [ ]:
# Export merged fle to pickle format

df_merged_large.to_pickle(os.path.join(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data', 'orders_products_combined.pkl'))

In [11]:
df_merged_large.shape

(290884, 11)

### end of task

### Contents
### Merge on a condition