# Importing pkl file and further data refining

In [3]:
#importing data
import pandas as pd
import numpy as np
import os

In [4]:
#import pkl file
orders_products_combined = pd.read_pickle(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data\orders_products_combined.pkl')

In [5]:
#check the shape
orders_products_combined.shape

(290884, 11)

In [6]:
df_prods = pd.read_csv(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data\products_checked.csv',index_col = False)

In [7]:
df_prods.shape

(49672, 6)

In [12]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,Order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,42,94891,4,4,5,13,15.0,22199,1,0,both
1,42,94891,4,4,5,13,15.0,25146,2,0,both
2,70,23391,7,17,0,10,28.0,13198,1,1,both
3,70,23391,7,17,0,10,28.0,42803,2,1,both
4,70,23391,7,17,0,10,28.0,8277,3,1,both

### merge orders_products_combined with products_checked

### drop the '_merge' column as it will be created again in the next merge step and cause conflict

In [9]:
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [10]:
#merge on product_id
orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [22]:
orders_products_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,Order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,42,94891,4,4,5,13,15.0,22199,1,0,22200,Extra-Dry Cava,134,5,8.9,both
1,787017,31925,47329,4,3,10,12.0,22199,1,0,22200,Extra-Dry Cava,134,5,8.9,both
2,42,94891,4,4,5,13,15.0,25146,2,0,25147,Original Orange Juice,31,7,8.4,both
3,6612,95113,410,2,1,18,7.0,25146,18,0,25147,Original Orange Juice,31,7,8.4,both
4,15832,83780,982,3,0,20,23.0,25146,32,0,25147,Original Orange Juice,31,7,8.4,both

In [11]:
orders_products_merged.shape

(290620, 16)

In [25]:
orders_products_merged['_merge'].value_counts()

both          290620
left_only          0
right_only         0
Name: _merge, dtype: int64

## due to the small data size (290620 rows only) I decided to export it as CSV but I will do .pkl export as well

In [27]:
# due to the small data size (290620 rows only) I decided to export it as CSV but I will do .pkl export as well
orders_products_merged.to_csv(os.path.join(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data','Orders_products_merged.csv'))

In [28]:
# export to pickle

orders_products_merged.to_pickle(os.path.join(r'D:\PythonPrjkt\Instacart Basket Analysis\02_Data\2.7_Prepared data','Orders_products_merged.pkl'))

### End of task